{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="bg-white   text-light py-5 min-vh-100">
  <div class="container d-flex justify-content-center">
    <div class="row w-100">
      <div class="col-md-6 col-lg-5 mx-auto">
        <div class="card bg-secondary shadow-lg border-0">
          <div class="card-body p-4">
            <h2 class="text-center text-white mb-4">Login</h2>
            <form action="" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-grid mt-3">
                <input type="submit" value="Login" class="btn btn-outline-light btn-lg">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
