{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4">
    <h1 class="text-primary mb-4">
      Positions
      <a href="{% url 'manager:position-create' %}" class="btn btn-success btn-sm ms-3">+ Create new</a>
    </h1>

    <form action="" method="get" class="d-flex gap-2 mb-4">
      {% csrf_token %}
      {{ search_form|crispy }}
      <button type="submit" class="btn btn-outline-primary" style="align-self: flex-start; margin-top: 5px">🔍</button>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for position in position_list %}
        <div class="col">
          <div class="card h-100 border-info shadow-sm rounded-3 bg-light">
            <div class="card-body">
              <h5 class="card-title text-info">
                <a href="{% url 'manager:position-detail' pk=position.id %}" class="text-decoration-none text-info">
                  {{ position.name }}
                </a>
              </h5>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="text-muted">No positions right now</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
