{% extends "base.html" %}

{% block content %}
	<h1>Tasks</h1>
  {% for task in task_list %}
  	<ul class="list-group">
      <li class="list-group-item">
        Task: {{ task.name }}<br>
        Description: {{ task.description }}<br>
        Completed: {{ task.is_completed }}<br>
        Priority: {{ task.priority }}<br>
        Assigned:
        {% for worker in task.assignees.all %}
          {{ worker.username }}{% if not forloop.last %}, {% endif %}
        {% empty %}
          No assignees
        {% endfor %}
        Deadline: {{ task.deadline }}
      </li>
    </ul>
  {% empty %}
    No tasks right now
  {% endfor %}
  
{% endblock %}