{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1 class="text-primary mb-4">
      Information about task: {{ task_detail.name }}
      <a href="{% url 'manager:task-update' pk=task_detail.id %}" class="btn btn-warning btn-sm ms-3">Update</a>
      <a href="{% url 'manager:task-delete' pk=task_detail.id %}" class="btn btn-danger btn-sm ms-2">Delete</a>
    </h1>

    <div class="card border-info shadow-sm rounded-3 mb-4">
      <div class="card-body">
        <h4 class="card-title">Short description</h4>
        <p class="card-text">{{ task_detail.description }}</p>

        <h4 class="card-title">Priority</h4>
        <p class="card-text">{{ task_detail.priority }}</p>

        <h4 class="card-title">Deadline</h4>
        <p class="card-text">{{ task_detail.deadline }}</p>

        <h4 class="card-title">Type of the task</h4>
        <p class="card-text">{{ task_detail.task_type }}</p>

        <h4 class="card-title">Status</h4>
        <p class="card-text">
          {% if task_detail.is_completed %}
            <span class="badge bg-success">Completed</span>
          {% else %}
            <span class="badge bg-warning">Not completed</span>
          {% endif %}
        </p>

        <h4 class="card-title">Working on task</h4>
        <p class="card-text">
          {% for assignee in task_detail.assignees.all %}
            <a href="{{ assignee.get_absolute_url }}" class="btn btn-info btn-sm text-white me-2">{{ assignee.username }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>

        <div class="d-flex justify-content-center">
          {% if user in task_detail.assignees.all %}
            <a href="{% url 'manager:task-assign-unassign' pk=task_detail.id %}" class="btn btn-danger">Unassign me from this task</a>
          {% else %}
            <a href="{% url 'manager:task-assign-unassign' pk=task_detail.id %}" class="btn btn-primary">Assign me to this task</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
