{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4">
    <h1 class="text-primary mb-4">
      Workers
      <a href="{% url 'manager:worker-create' %}" class="btn btn-success btn-sm ms-3">+ Create new</a>
    </h1>

    <form action="" method="get" class="d-flex gap-2 mb-4">
      {% csrf_token %}
      {{ search_form|crispy }}
      <button type="submit" class="btn btn-outline-primary" style="align-self: flex-start; margin-top: 5px">🔍</button>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for worker in worker_list %}
        <div class="col">
          <div class="card h-100 border-info shadow-sm rounded-3">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ worker.get_absolute_url }}" class="text-decoration-none text-info">
                  {{ worker.username }}
                </a>
              </h5>
              <p class="card-text">
                <strong>Position:</strong> {{ worker.position }}
              </p>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="text-muted">No workers right now</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
