{% extends "base.html" %}

{% block content %}
	<h1>Worker {{ worker_detail.username }}
    <a href="{% url 'manager:worker-position-update' pk=worker_detail.id%}" class="btn btn-primary">Update position</a>
    <a href="{% url 'manager:worker-delete' pk=worker_detail.id%}" class="btn btn-danger">Delete</a></h1>
  <ul>
    <li>
      {{ worker_detail.get_full_name }} 
    </li>
    <li>
      Position: {{ worker_detail.position }}
    </li>
    <li>
      Email: {{ worker_detail.email }}
    </li>
  </ul>
{% endblock %}