{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
	<h1>Workers <a href="{% url 'manager:worker-create' %}" class="btn btn-primary">Create new</a></h1>

  <form action="" method="get" class="d-flex gap-2 mb-3">
    {% csrf_token %}
    {{ search_form|crispy }}
    <button type="submit" class="btn btn-outline-primary" style="align-self: flex-start;">🔎</button>
  </form>

  {% for worker in worker_list %}
  	<ul class="list-group">
      <li class="list-group-item"><a href="{{ worker.get_absolute_url }}">{{ worker.username }}</a><br>Position: {{ worker.position }}</li>
    </ul>
  {% empty %}
    No workers right now
  {% endfor %}
  
{% endblock %}