{% extends "base.html" %}

{% block sidebar %}
  <div class="bg-dark p-4" style="width: 250px; position: fixed; top: 0; left: 0; height: 100vh;">
    <h4 class="text-white mb-4">User: {{ user.get_username }}</h4>
    <div class="d-flex flex-column">
      <a href="{% url 'manager:home' %}" class="text-white text-decoration-none mb-2 p-2 border rounded-4 hover-bg-primary">Home</a>
      <a href="{% url 'manager:position-list' %}" class="text-white text-decoration-none mb-2 p-2 border rounded-4 hover-bg-primary">Positions</a>
      <a href="{% url 'manager:task-list' %}" class="text-white text-decoration-none mb-2 p-2 border rounded-4 hover-bg-primary">Tasks</a>
      <a href="{% url 'manager:task-type-list' %}" class="text-white text-decoration-none mb-2 p-2 border rounded-4 hover-bg-primary">Task types</a>
      <a href="{% url 'manager:worker-list' %}" class="text-white text-decoration-none mb-2 p-2 border rounded-4 hover-bg-primary">Workers</a>
    </div>
  </div>
{% endblock %}
